.detail_container {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .detail_backImage_box {
    position: relative;

    .detail_backImage {
      width: 100%;
      opacity: 0.7;
    }

    .detail_backImage_backdrop {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, var(--background-color), transparent);
    }
  }

  .detail_main {
    position: absolute;
    max-width: 1366px;
    top: 230px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .detail_sec {
      display: flex;
      gap: 20px;
      height: 2000px;

      .detail_sec_imgbox {
        width: 40%;
      }

      .detail_sec_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        width: 60%;

        .detail_sec_title {
          font-size: 64px;
          font-weight: 900;
        }

        .detail_sec_position {
          display: flex;
          align-items: center;
          gap: 12px;

          .detail_sec_position_list {
            padding: 8px 12px;
            background-color: red;
            color: #fff;
            border-radius: 12px;
          }
        }

        .detail_sec_des {
          line-height: 2;
        }

        button {
          padding: 12px;
          border-radius: 6px;

          img {
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }
  }
}

// 컴포넌트 CSS 적용 안됨 이슈로 직접 불러옴
.card_more_average {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid rgb(32, 190, 98);

  span {
    font-size: 12px;
    text-align: center;
  }
}

.main_slide_backdrop {
  padding-top: 50%;
  background-position: center top;
  background-size: cover;
}

.main_slide_backdrop_bg_left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, var(--background-color), transparent);
}

.main_slide_backdrop_bg_bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, var(--background-color) 30%, transparent);
}

.detail_sec_info2_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10rem;

  display: flex;
  align-items: center;

  .detail_sec_info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    width: 60%;

    .detail_sec_title2 {
      font-size: 64px;
      font-weight: 900;
    }

    .detail_sec_position2 {
      display: flex;
      align-items: center;
      gap: 12px;

      .detail_sec_position_list2 {
        padding: 8px 12px;
        background-color: red;
        color: #fff;
        border-radius: 12px;
      }
    }

    .detail_sec_des2 {
      line-height: 2;
    }

    button {
      padding: 12px;
      border-radius: 6px;

      img {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}
