.home_container {
  position: relative;
  margin: 0 auto;

  .home_inner {
    max-width: 1334px;
    padding: 0 4rem;
    margin: 0 auto;
  }
}

.home_movie_average {
  display: flex;
  gap: 10px;
  transition: transform 0.6s ease-in-out;
}

.home_movie_popular {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;
}

// Card component START

.next_button {
  position: absolute;
  bottom: 40px;
  color: #666666;
  padding: 6px 8px;

  &:hover {
    // color: var(--color)
    transition: 0.3s;
  }
}
// Card component END
