.App {
  position: relative;
}

.header_container {
  position: fixed;
  z-index: 999;
  width: 100%;
  color: white;

  .header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding: 20px;

    .header_nav {
      display: flex;
      align-items: center;
      gap: 20px;

      .header_nav_link {
        text-decoration: none;
        color: #fff;
        padding: 6px 16px;

        &:hover {
          background-color: red;
          border-radius: 4px;
          transition: 0.3s;
        }
      }

      .header_theme_color {
        border: none;
        background-color: none;
        color: #fff;
        background-color: transparent;
        padding: 6px 16px;
        cursor: pointer;

        &:hover {
          background-color: red;
          border-radius: 4px;
          transition: 0.3s;
        }
      }
    }

    .header_auth {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
