// 다크모드 라이트모드 색상 설정
:root {
  --background-color: #000;
  --color: #fff;
  --btn-bg-red: #ff0000;
  --btn-bg-color: #fff;
  --bg-color-opacity: rgba(0, 0, 0, 0.7);
  --modal-bg-color: rgb(19, 19, 19);
  --header-user: #404040;
}

.ui-white {
  --background-color: #eee;
  --color: #000;
  --card-bg-color: #fff;
  --bg-color-opacity: rgba(255, 255, 255, 0.7);
  --modal-bg-color: #fff;
  --header-user: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  transition: 0.3s;
}

.App {
  position: relative;
}

.header_trigger {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 10px;
}

.infi_scr_trigger {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 10px;
  background-color: red;
}

.nav_bg_color {
  font-weight: 600;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  background-color: red;
  color: #fff;
}

.header_bg {
  background-color: var(--modal-bg-color);
}

.header_container {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  .header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;

    .header_nav {
      display: flex;
      align-items: center;
      gap: 20px;

      .header_nav_link {
        text-decoration: none;
        padding: 6px 16px;
        cursor: pointer;

        &:hover {
          border-radius: 4px;
          transition: 0.3s;
        }
      }

      .header_theme_color {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: transparent;
        padding: 12px;
        cursor: pointer;

        &:hover {
          border-radius: 4px;
          transition: 0.3s;
          background-color: var(--background-color);
          border-radius: 24px;
          opacity: 0.5;
        }
      }
    }

    .header_auth {
      display: flex;
      align-items: center;
      gap: 30px;

      .header_user_container {
        position: relative;

        .header_user {
          display: flex;
          align-items: center;
          gap: 8px;
          width: 100%;
          cursor: pointer;

          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
        }

        .header_toggle_backdrop {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .header_toggle {
            position: absolute;
            right: 24px;
            top: 68px;
            width: 140px;
            padding: 8px 16px;
            text-align: center;
            background-color: var(--header-user);
            border-radius: 4px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
            transition: 0.3s;
            opacity: 0;

            display: flex;
            flex-direction: column;
            gap: 14px;

            div {
              color: var(--color);
              cursor: pointer;

              &:hover {
                opacity: 0.7;
                transition: 0.3s;
              }
            }
          }

          .header_toggle.show {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
}
